infra/terraform/envs/hackathon/state-machine-definition.json
{
  "Comment": "CollectIQ Multi-Agent Card Valuation and Authenticity Workflow",
  "StartAt": "RekognitionExtract",
  "States": {
    "RekognitionExtract": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${rekognition_extract_lambda_arn}",
        "Payload": {
          "userId.$": "$.userId",
          "cardId.$": "$.cardId",
          "s3Key.$": "$.s3Key",
          "s3Bucket.$": "$.s3Bucket"
        }
      },
      "ResultPath": "$.featureEnvelope",
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ErrorHandler"
        }
      ],
      "Next": "ParallelAgents"
    },
    "ParallelAgents": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "PricingAgent",
          "States": {
            "PricingAgent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${pricing_agent_lambda_arn}",
                "Payload": {
                  "userId.$": "$.userId",
                  "cardId.$": "$.cardId",
                  "featureEnvelope.$": "$.featureEnvelope.Payload",
                  "cardMetadata": {
                    "name.$": "$.cardMetadata.name",
                    "set.$": "$.cardMetadata.set",
                    "number.$": "$.cardMetadata.number",
                    "rarity.$": "$.cardMetadata.rarity"
                  }
                }
              },
              "ResultPath": "$.pricingResult",
              "ResultSelector": {
                "Payload.$": "$.Payload"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.pricingError",
                  "Next": "PricingFallback"
                }
              ],
              "End": true
            },
            "PricingFallback": {
              "Type": "Pass",
              "Result": {
                "status": "error",
                "message": "Pricing agent failed",
                "valueMedian": 0,
                "valueLow": 0,
                "valueHigh": 0,
                "confidence": 0
              },
              "ResultPath": "$.pricingResult.Payload",
              "End": true
            }
          }
        },
        {
          "StartAt": "AuthenticityAgent",
          "States": {
            "AuthenticityAgent": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${authenticity_agent_lambda_arn}",
                "Payload": {
                  "userId.$": "$.userId",
                  "cardId.$": "$.cardId",
                  "s3Key.$": "$.s3Key",
                  "s3Bucket.$": "$.s3Bucket",
                  "featureEnvelope.$": "$.featureEnvelope.Payload",
                  "cardMetadata": {
                    "name.$": "$.cardMetadata.name",
                    "set.$": "$.cardMetadata.set",
                    "number.$": "$.cardMetadata.number",
                    "rarity.$": "$.cardMetadata.rarity"
                  }
                }
              },
              "ResultPath": "$.authenticityResult",
              "ResultSelector": {
                "Payload.$": "$.Payload"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.authenticityError",
                  "Next": "AuthenticityFallback"
                }
              ],
              "End": true
            },
            "AuthenticityFallback": {
              "Type": "Pass",
              "Result": {
                "status": "error",
                "message": "Authenticity agent failed",
                "authenticityScore": 0.5,
                "confidence": 0,
                "rationale": "Unable to verify authenticity due to processing error"
              },
              "ResultPath": "$.authenticityResult.Payload",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallelResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ErrorHandler"
        }
      ],
      "Next": "Aggregator"
    },
    "Aggregator": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${aggregator_lambda_arn}",
        "Payload": {
          "userId.$": "$.userId",
          "cardId.$": "$.cardId",
          "s3Key.$": "$.s3Key",
          "s3Bucket.$": "$.s3Bucket",
          "featureEnvelope.$": "$.featureEnvelope.Payload",
          "pricingResult.$": "$.parallelResults[0].pricingResult.Payload",
          "authenticityResult.$": "$.parallelResults[1].authenticityResult.Payload",
          "cardMetadata.$": "$.cardMetadata"
        }
      },
      "ResultPath": "$.aggregatorResult",
      "ResultSelector": {
        "Payload.$": "$.Payload"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ErrorHandler"
        }
      ],
      "End": true
    },
    "ErrorHandler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${error_handler_lambda_arn}",
        "Payload": {
          "userId.$": "$.userId",
          "cardId.$": "$.cardId",
          "error.$": "$.error",
          "executionArn.$": "$$.Execution.Id",
          "stateMachineName.$": "$$.StateMachine.Name"
        }
      },
      "ResultPath": "$.errorHandlerResult",
      "End": true
    }
  }
}
